body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.logo img{
    width: 100px;
}

a{
    text-decoration: none;
    color: rgb(163, 101, 19);
}

.header-box{
    background: orange;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

.links{
    display: flex;
    gap: 50px;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white
}

.content{
    max-width: 500px;
    padding: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
}

.thing img{
    border-radius: 8px;
}

.thing{
    padding-right: 40px;
    flex-shrink: 0;
}

button{
    background-color: rgb(163, 101, 19);
    border: 0px;
    border-radius: 15px;
    color: aliceblue;
    width: 220px;
    height: 50px;
}

.title {
  font-size: 36px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  padding-bottom: 32px;
  padding-top: 30px;
}

.card-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;

}

.card-container img{
    border-radius: 8px;
    height: 200px;
    width: 200px;
    border: solid;
    margin: 10px;
    
}

.card{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 200px;
  align-items: center;
}

.information{
    background-color: rgb(119, 71, 0);
    color: aliceblue;
    padding-bottom: 50px;
}